.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f2f8fc;
}

.left-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 700px;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

button {
  width: 150px;
  height: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  font: normal 17px arial;
}


button:not(.active):hover,
button:not(.active):focus {
  transition: color 200ms linear, text-shadow 500ms linear;
  color: #fff;
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 0 10px rgba(223, 206, 228, 0.4), 0 0 2px #2a153c;
}
button:not(:hover) {
    transition: 0.6s;
}

input {
  border-radius: 3px;
  border: 1px solid gray;
  width: 100%;
}

input:hover {
  border: 1px solid  #1e3685;
  transition: 0.8s;
}

input:focus,
input:active {
  outline: none;
}

.login {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.information {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.recommendation {
  width: 50%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.string-recommendation {
  text-align: center;
}



@media(max-device-width: 890px) {
  button {
    width: 60px;
    height: 30px;
    text-decoration: none;
    color: black;
    text-align: center;
    font: normal 17px arial;
  }

  input {
    border-radius: 3px;
    border: 1px solid gray;
    width: 100%;
  }

  input:focus,
  input:active {
    outline: none;
  }

  input:hover {
    border: 1px solid  #1e3685;
    transition: 0.8s;
  }
}